services:
  handla2-mysql:
    hostname: handla2-mysql
    image: mysql/mysql-server:8.0.23
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=handla
      - MYSQL_USER=myapp-user
      - MYSQL_PASSWORD=password
      - TZ=UTC
    ports:
      - 3306:3306
    networks:
      - handla
    #volumes:
    #  - ./db/data:/var/lib/mysql

  handla2-app:
    image: rydberg/handla2:3.0.7
    restart: on-failure
    depends_on:
      - handla2-mysql
    ports:
      - 8100:8080
    environment:
      - DATABASE_HOST=handla2-mysql
      - DATABASE_USER=myapp-user
      - DATABASE_PASSWORD=password
      - DATABASE_NAME=handla
      - DATABASE_PORT=3306
      - TZ=UTC
      - SPRING_PROFILES_ACTIVE=prod
    networks:
      - handla
    links:
      - handla2-mysql

networks:
  handla: {}

