version: '3'

services:
  handla2-mysql:
    hostname: handla2-mysql
    image: mysql/mysql-server:8.0.23
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=handla
      - MYSQL_USER=myapp-user
      - MYSQL_PASSWORD=password
      - TZ=Europe/Stockholm
    ports:
      - 3306:3306
    #volumes:
    #  - ./db/data:/var/lib/mysql

  handla2-app:
    image: rydberg/handla2:0.0.1-SNAPSHOT
    restart: on-failure
    depends_on:
      - handla2-mysql
    ports:
      - 8100:8080
    environment:
      - DATABASE_HOST=handla2-mysql
      - DATABASE_USER=myapp-user
      - DATABASE_PASSWORD=password
      - DATABASE_NAME=handla
      - DATABASE_PORT=3306
      - TZ=Europe/Stockholm
      - SPRING_PROFILES_ACTIVE=prod
    links:
      - handla2-mysql
