<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="sv">
<head>
    <th:block th:include="fragments/header :: header"></th:block>
    <title>Redigera lista</title>
</head>
<body>
<div class="nav-box">
<span class="toolbar">
       <a class="toolitem" th:href="@{'/lists'}"><img th:src="@{/styles/back.png}"></a>
       <a class="toolitem" th:href="@{'/lists/new'}"><img th:src="@{/styles/newlist.png}"></a>
</span>
    <h1>Redigera lista</h1>
</div>
<form id="frmEditMenu" method="post" class="form-general" th:action="@{/lists/save}" th:object="${shoplist}">
    <div class="form-box">
        <input type="hidden" id="id" th:field="*{id}">
        <label for="title">Listans namn</label>
        <input class="input-long" type="text" id="title" placeholder="Skriv in listans namn" th:field="*{title}" autofocus>
        <label for="useCategory">Använd kategorier</label><input type="checkbox" id="useCategory" th:field="*{useCategory}"/>

        <div class="submit-area">
            <button type="submit">Spara</button>
        </div>
        </p>
    </div>
</form>
</body>
</html>