<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Handlaappen</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}"/>
</head>
<body>
<div class="nav-box">
<span class="toolbar">
    <a class="toolitem" th:href="@{'/lists'}"><img th:src="@{/styles/back.png}"></a>
    <a class="toolitem" th:href="@{'/lists/new'}"><img th:src="@{/styles/newlist.png}"></a>
</span>
    <h1 th:text="${shoplist.title}"></h1>
</div>
<div>
    <form id="article" method="post" th:action="@{'/article/addtolist/'+ ${shoplist.id}}" th:object="${article}">
        <input type="hidden" id="id" th:field="*{id}">
        <input type="text" id="title" class="input-long" th:field="*{title}">
        <button type="submit">Spara</button>
    </form>
</div>
<div class="notepad">
    <ul class="list">
        <li th:each="article: ${shoplist.articles}">
            <span th:text="${article.title} + ' ' + ${article.bought}"></span>
            <a th:href="@{'/article/delete/' + ${article.id} + '?returnview=/menu/unplanned'}" class="del"
               onclick="return (confirm('Vill du ta bort receptet?'))"/><img th:src="@{/styles/delete.png}"></a>
        </li>
    </ul>
</div>
</body>
</html>