<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Nya recept - Handlaappen</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/style.css}"/>
</head>
<body>
<div class="nav-box">
<span class="toolbar">
    <a class="toolitem" th:href="@{'/menu'}"><img th:src="@{/static/styles/back.png}"></a>
    <a class="toolitem" th:href="@{'/menu/new'}"><img th:src="@{/static/styles/newlist.png}"></a>
</span>
    <h1>Oplanerade recept</h1>
</div>

<div class="notepad">
    <ul class="list">
        <li th:each="menu: ${menus}">
            <a th:href="@{'/menu/detail/' + ${menu.id}}" th:text="${menu.title}"></a>
            <a th:href="@{'/menu/delete/' + ${menu.id} + '?returnview=/menu/unplanned'}" class="del"
               onclick="return (confirm('Vill du ta bort receptet?'))"/><img th:src="@{/static/styles/delete.png}"></a>
        </li>
    </ul>
</div>
</body>
</html>