<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="sv">
<head>
    <th:block th:include="fragments/header :: header"></th:block>
    <title>Redigera</title>

    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:inline="javascript"> var path = /*[[@{/}]]*/ ''; </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var imageUrl = /*[[@{'/image/'}]]*/ null;
        var rotateUrl = /*[[@{'/image/rotate/'}]]*/ null;

        function deletePicture(id) {

            jQuery.ajax({
                url: imageUrl + id,
                type: 'DELETE',

                success: function (data) {
                    document.getElementById('showimage').remove();
                    document.getElementById('imageId').value = '';
                },
                error: function (errorData) {
                    alert("Det gick inte att ta bort bilden");
                }
            })};

        function rotatePicture(id) {

            jQuery.ajax({
                url: rotateUrl + id,
                type: 'GET',

                success: function (data) {
                    document.getElementById('showimage').removeAttribute('src');
                    document.getElementById('showimage').setAttribute('src', imageUrl + data + '?timestamp=' + new Date().getTime());
                },
                error: function (errorData) {
                    alert("Det gick inte att rotera bilden");
                }
            })};
        /*]]>*/
    </script>

</head>
<body>
<div class="nav-box">
<span class="toolbar">
       <a class="toolitem" th:href="@{'/menu'}"><img th:src="@{/styles/back.png}"></a>
       <a class="toolitem" th:href="@{'/menu/new'}"><img th:src="@{/styles/newlist.png}"></a>
</span>
    <h1>Planerad meny</h1>
</div>
<div class="errorblock" th:if="${error_message}">
    <p th:text="${error_message}"></p>
</div>
<div class="successblock" th:if="${message}">
    <p th:text="${message}"></p>
</div>
<form id="frmEditMenu" method="post" class="form-general" th:action="@{/menu/save}" th:object="${menu}"
      enctype="multipart/form-data">
    <div class="form-box">
        <input type="hidden" id="id" th:field="*{id}">
        <label for="title">Maträtt</label>
        <input class="input-long" type="text" id="title" placeholder="Skriv in maträttens namn" th:field="*{title}">
        <label for="dayToEat">Dag</label>
        <input type="date" id="dayToEat" th:field="*{dayToEat}">
        <div>
        <span th:each="time:${T(se.rydberg.handla.menu.FoodTime).values()}">
            <input type="radio" th:field="*{foodTime}" th:value="${time}">
            <label class="label_normal" th:for="${#ids.prev('foodTime')}" th:text="${time.displayValue}">Mattillfälle</label>
        </span>
        </div>
        <label for="description">Beskrivning</label>
        <textarea id="description" rows="10" cols="50" th:field="*{description}"></textarea>
        <label for="descriptionUrl">Länk till recept</label>
        <input class="input-long" type="url" id="descriptionUrl" th:field="*{descriptionUrl}">

        <label for="imageupload">Bild på recept</label>
        <input type="file" id="imageupload" name="imageupload" accept="image/png, image/jpeg"/>
        <input type="hidden" id="imageId" th:field="*{imageId}">
        <div th:if="${!#strings.isEmpty(menu.imageId)}">
            <img id="showimage" th:src="@{'/image/' + ${menu.imageId}}" alt="Bild på recept"/>
            <br>
            <a href="#" th:data-id="${menu.imageId}" onclick="deletePicture(this.getAttribute('data-id'));"><img th:src="@{/styles/delete.png}"></a>
            <br>
            <a href="#" th:data-id="${menu.imageId}" onclick="rotatePicture(this.getAttribute('data-id'));"><img th:src="@{/styles/rotate_right.png}"></a>
        </div>

        <fieldset>
            <label for="grade">Utvärdering</label>
            <select name="grade" id="grade" th:field="*{grade}">
                <option th:each="gradeOpt : ${T(se.rydberg.handla.menu.Grade).values()}"
                        th:value="${gradeOpt}" th:text="${gradeOpt.displayValue}">
                </option>
            </select>
        </fieldset>
        <div class="submit-area">
            <button type="submit">Spara</button>
            <a th:if="${!#strings.isEmpty(menu.id)}" th:href="@{'/menu/detail/' + ${menu.id}}"> | Avbryt</a>
        </div>
        </p>
    </div>
</form>
</body>
</html>